<div class="block">
  <div class="container">
    <div class="options-catalog-container">
      <!--         LEFT MENU           -->
      <div class="left-option-menu">
        <!--        SORT        -->
        <div class="block-options">
          <div class="option-header">Сортировка</div>
          <!--            SORT OPTION           -->
          <div class="option-container">
            <div class="option-block">
              <div class="option-title">По умолчанию</div>
              <div class="svg-midle-container">
                <button [@arrowRotation]="sortState"
                        (click)="sortState = (sortState === 'close' ? 'active' : 'close')"
                        class="svg-button">
                  <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L9 9L17 1" stroke="#646464" stroke-width="2"/>
                  </svg>
                </button>
              </div>
            </div>
            <div [@arrowListAnimation]="sortState" class="list-container">

              <div class="scroll scroll--simple">
                <!--              SCROLL  START           -->
                <div class="option-button-container"
                     (click)="testState = (testState === 'default' ? 'active' : 'default')">
                  <button>
                    <svg [@svgOptionButtonAnimation]="testState" width="13" height="10" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 4L5 8L12 1" stroke="#F0F0F0" stroke-width="2"/>
                    </svg>
                  </button>
                  <div class="option-button-title">По возрастанию цены
                  </div>
                </div>
                <div class="option-button-container"
                     (click)="testState1 = (testState1 === 'default' ? 'active' : 'default')">
                  <button>
                    <svg [@svgOptionButtonAnimation]="testState1" width="13" height="10" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 4L5 8L12 1" stroke="#F0F0F0" stroke-width="2"/>
                    </svg>
                  </button>
                  <div class="option-button-title">По убыванию цены
                  </div>
                </div>
                <div class="option-button-container"
                     (click)="testState2 = (testState2 === 'default' ? 'active' : 'default')">
                  <button>
                    <svg [@svgOptionButtonAnimation]="testState2" width="13" height="10" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 4L5 8L12 1" stroke="#F0F0F0" stroke-width="2"/>
                    </svg>
                  </button>
                  <div class="option-button-title">Сначала старые товары
                  </div>
                </div>
                <div class="option-button-container"
                     (click)="testState3 = (testState3 === 'default' ? 'active' : 'default')">
                  <button>
                    <svg [@svgOptionButtonAnimation]="testState3" width="13" height="10" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 4L5 8L12 1" stroke="#F0F0F0" stroke-width="2"/>
                    </svg>
                  </button>
                  <div class="option-button-title">Сначала новые товары
                  </div>
                </div>
                <div class="option-button-container"
                     (click)="testState4 = (testState4 === 'default' ? 'active' : 'default')">
                  <button>
                    <svg [@svgOptionButtonAnimation]="testState4" width="13" height="10" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 4L5 8L12 1" stroke="#F0F0F0" stroke-width="2"/>
                    </svg>
                  </button>
                  <div class="option-button-title">По убыванию скидки
                  </div>
                </div>
                <div class="option-button-container"
                     (click)="testState5 = (testState5 === 'default' ? 'active' : 'default')">
                  <button>
                    <svg [@svgOptionButtonAnimation]="testState5" width="13" height="10" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 4L5 8L12 1" stroke="#F0F0F0" stroke-width="2"/>
                    </svg>
                  </button>
                  <div class="option-button-title">По возрастанию скидки
                  </div>
                </div>
              </div>
            </div>
            <div class="line"></div>
          </div>
        </div>
        <!--        START OPTIONS      -->
        <div class="block-options" style="margin-top: 40px">
          <div class="option-header">Фильтры</div>
          <!--          START OPTION           -->
          <div class="option-container">
            <div class="option-block">
              <div class="option-title">Пол</div>
              <div class="svg-midle-container">
                <button [@arrowRotation]="sexState"
                        (click)="sexState = (sexState === 'close' ? 'active' : 'close')"
                        class="svg-button">
                  <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L9 9L17 1" stroke="#646464" stroke-width="2"/>
                  </svg>
                </button>
              </div>
            </div>
            <div [@sexArrowListAnimation]="sexState" class="list-container">
              <div>
                <div class="option-button-container"
                     (click)="testState6 = (testState6 === 'default' ? 'active' : 'default')">
                  <button>
                    <svg [@svgOptionButtonAnimation]="testState6" width="13" height="10" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 4L5 8L12 1" stroke="#F0F0F0" stroke-width="2"/>
                    </svg>
                  </button>
                  <div class="option-button-title">Мужской
                  </div>
                </div>
                <div class="option-button-container"
                     (click)="testState7 = (testState7 === 'default' ? 'active' : 'default')">
                  <button>
                    <svg [@svgOptionButtonAnimation]="testState7" width="13" height="10" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 4L5 8L12 1" stroke="#F0F0F0" stroke-width="2"/>
                    </svg>
                  </button>
                  <div class="option-button-title">Женский
                  </div>
                </div>
                <div class="option-button-container"
                     (click)="testState8 = (testState8 === 'default' ? 'active' : 'default')">
                  <button>
                    <svg [@svgOptionButtonAnimation]="testState8" width="13" height="10" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 4L5 8L12 1" stroke="#F0F0F0" stroke-width="2"/>
                    </svg>
                  </button>
                  <div class="option-button-title">Унисекс
                  </div>
                </div>
              </div>
            </div>
            <div class="line"></div>
          </div>
          <!--          END OPTION             -->
          <!--          START OPTION           -->
          <div class="option-container">
            <div class="option-block">
              <div class="option-title">Цвет</div>
              <div class="svg-midle-container">
                <button [@arrowRotation]="colorState"
                        (click)="colorState = (colorState === 'close' ? 'active' : 'close')"
                        class="svg-button">
                  <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L9 9L17 1" stroke="#646464" stroke-width="2"/>
                  </svg>
                </button>
              </div>
            </div>
            <div [@arrowListAnimation]="colorState" class="list-container">
              <div class="scroll scroll--simple">
                <div class="test-radio-buttons">Предмет</div>
                <div class="test-radio-buttons">Предмет</div>
                <div class="test-radio-buttons">Предмет</div>
                <div class="test-radio-buttons">Предмет</div>
                <div class="test-radio-buttons">Предмет</div>
                <div class="test-radio-buttons">Предмет</div>
                <div class="test-radio-buttons">Предмет</div>
                <div class="test-radio-buttons">Предмет</div>
                <div class="test-radio-buttons">Предмет</div>
                <div class="test-radio-buttons">Предмет</div>
                <div class="test-radio-buttons">Предмет</div>
                <div class="test-radio-buttons">Предмет</div>
              </div>
            </div>
            <div class="line"></div>
          </div>
        </div>
        <!--        END OPTION        -->
      </div>
      <!--          CATALOG             -->
      <div class="catalog-wrapper">
        <div class="catalog">
          <div class="product-card" routerLink="/product">
            <a style="height: 100%; display: flex; width: 100%;" routerLink="product"></a>
            <div class="product" routerLink="product">
              <img class="imageContainer" src="assets/image/dunk.png" alt="Some product">
              <div class="product-text">
                <div class="product-title">Lacoste</div>
                <div class="description">Мужская толстовка с удлиненными рукавами Sport Light</div>
                <div class="price">15 780 ₽</div>
              </div>
            </div>
          </div>
          <div class="product-card">
            <div class="product">
              <img class="imageContainer" src="assets/image/Product.png" alt="Some product">
              <div class="product-text">
                <div class="product-title">Lacoste</div>
                <div class="description">Мужская толстовка с удлиненными рукавами Sport Light</div>
                <div class="price">15 780 ₽</div>
              </div>
            </div>
          </div>
          <div class="product-card">
            <div class="product">
              <img class="imageContainer" src="assets/image/Product.png" alt="Some product">
              <div class="product-text">
                <div class="product-title">Lacoste</div>
                <div class="description">Мужская толстовка с удлиненными рукавами Sport Light</div>
                <div class="price">15 780 ₽</div>
              </div>
            </div>
          </div>
          <div class="product-card">
            <div class="product">
              <img class="imageContainer" src="assets/image/Product.png" alt="Some product">
              <div class="product-text">
                <div class="product-title">Lacoste</div>
                <div class="description">Мужская толстовка с удлиненными рукавами Sport Light</div>
                <div class="price">15 780 ₽</div>
              </div>
            </div>
          </div>
          <div class="product-card">
            <div class="product">
              <img class="imageContainer" src="assets/image/Product.png" alt="Some product">
              <div class="product-text">
                <div class="product-title">Lacoste</div>
                <div class="description">Мужская толстовка с удлиненными рукавами Sport Light</div>
                <div class="price">15 780 ₽</div>
              </div>
            </div>
          </div>
          <div class="product-card">
            <div class="product">
              <img class="imageContainer" src="assets/image/Product.png" alt="Some product">
              <div class="product-text">
                <div class="product-title">Lacoste</div>
                <div class="description">Мужская толстовка с удлиненными рукавами Sport Light</div>
                <div class="price">15 780 ₽</div>
              </div>
            </div>
          </div>
          <div class="product-card">
            <div class="product">
              <img class="imageContainer" src="assets/image/Product.png" alt="Some product">
              <div class="product-text">
                <div class="product-title">Lacoste</div>
                <div class="description">Мужская толстовка с удлиненными рукавами Sport Light</div>
                <div class="price">15 780 ₽</div>
              </div>
            </div>
          </div>
          <div class="product-card">
            <div class="product">
              <img class="imageContainer" src="assets/image/Product.png" alt="Some product">
              <div class="product-text">
                <div class="product-title">Lacoste</div>
                <div class="description">Мужская толстовка с удлиненными рукавами Sport Light</div>
                <div class="price">15 780 ₽</div>
              </div>
            </div>
          </div>
          <div class="product-card">
            <div class="product">
              <img class="imageContainer" src="assets/image/Product.png" alt="Some product">
              <div class="product-text">
                <div class="product-title">Lacoste</div>
                <div class="description">Мужская толстовка с удлиненными рукавами Sport Light</div>
                <div class="price">15 780 ₽</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

