<div class="block">
  <div class="container">
    <div class="product-images-price-list">
      <div class="primary-image-container">
        <div class="left-images-container">
          <div class="left-image-wrapper">
            <img class="left-image" src="assets/image/Product.png" alt="Some product">
          </div>
          <div class="left-image-wrapper">
            <img class="left-image" src="assets/image/Product.png" alt="Some product">
          </div>
          <div class="left-image-wrapper">
            <img class="left-image" src="assets/image/Product.png" alt="Some product">
          </div>
          <div class="left-image-wrapper">
            <img class="left-image" src="assets/image/Product.png" alt="Some product">
          </div>
        </div>
        <div class="main-image-wrapper">
          <div class="main-image-container">
            <img class="image-container" src="assets/image/Product.png" alt="Some product">
          </div>
        </div>
      </div>
      <div class="price-list-container">
        <div class="price-list-title">
          Air Jordan 1 Low Retro Black and White
        </div>
        <div class="price-list-subtitle">
          Кроссовки Nike
        </div>
        <div class="price-container-wrapper">
          <div class="price-container">
            <div class="price-button">
              <div class="size">5 US
              </div>
              <div class="price">19 230 ₽</div>
            </div>
            <div class="price-button">
              <div class="size">5 US
              </div>
              <div class="price">19 230 ₽</div>
            </div>
            <div class="price-button">
              <div class="size">5 US
              </div>
              <div class="price">19230₽</div>
            </div>
            <div class="price-button">
              <div class="size">5 US
              </div>
              <div class="price">190230₽</div>
            </div>
            <div class="price-button">
              <div class="size">5 US
              </div>
              <div class="price">190230₽</div>
            </div>
            <div class="price-button">
              <div class="size">5 US
              </div>
              <div class="price">190230₽</div>
            </div>
            <div class="price-button">
              <div class="size">51 US
              </div>
              <div class="price">19230₽</div>
            </div>
            <div class="price-button">
              <div class="size">5 US
              </div>
              <div class="price">19230₽</div>
            </div>
            <div class="price-button">
              <div class="size">51 US
              </div>
              <div class="price">19230₽</div>
            </div>
            <div class="price-button">
              <div class="size">5 US
              </div>
              <div class="price">19 230 ₽</div>
            </div>
            <div class="price-button">
              <div class="size">5 US
              </div>
              <div class="price">190 230 ₽</div>
            </div>
          </div>
        </div>
        <div class="price-button active-buttons">
          <div class="size">Добавить в корзину
          </div>
        </div>
        <div class="price-button active-buttons">
          <div class="size">Купить в один клик
          </div>
        </div>
      </div>
    </div>
    <div class="information-container">
      <div class="product-name">
        Air Jordan 1 Low Retro Black and White
      </div>
      <!--      ОПИСАНИЕ        -->
      <div class="description-container">
        <div class="information-title">
          Описание
        </div>
        <div class="information-text">
          Одни из самых известных и культовых кроссовок среди крутых ребят, да и в целом все вообще очень круто и как бы
          ты не крутил, хочешь или не хочешь, но придется попотеть, чтобы достичь какого-то успеха, иначе ничего в жизни
          не получится.
        </div>
      </div>
      <!--      ПОДРОБНОСТИ       -->
      <div class="description-container">
        <div class="information-title">
          Подробности
        </div>
        <div class="details-container">
          <div class="detail">
            <div class="detail-text-container">
              <div class="detail-name">
                Артикул
              </div>
              <div class="detail-description">
                W332115
              </div>
            </div>
            <div class="line"></div>
          </div>
          <div class="detail">
            <div class="detail-text-container">
              <div class="detail-name">
                Бренд
              </div>
              <div class="detail-description">
                Nike
              </div>
            </div>
            <div class="line"></div>
          </div>
          <div class="detail">
            <div class="detail-text-container">
              <div class="detail-name">
                Материал
              </div>
              <div class="detail-description">
                Резина, хлопок, асбест
              </div>
            </div>
            <div class="line"></div>
          </div>
          <div class="detail">
            <div class="detail-text-container">
              <div class="detail-name">
                Вид товара
              </div>
              <div class="detail-description">
                Кроссвоки, обувь
              </div>
            </div>
            <div class="line"></div>
          </div>
          <div class="detail">
            <div class="detail-text-container">
              <div class="detail-name">
                Цвет
              </div>
              <div class="detail-description">
                Черный, белый
              </div>
            </div>
            <div class="line"></div>
          </div>
          <div class="detail">
            <div class="detail-text-container">
              <div class="detail-name">
                Сезон
              </div>
              <div class="detail-description">
                Весна, лето, осень
              </div>
            </div>
            <div class="line"></div>
          </div>
          <div class="detail">
            <div class="detail-text-container">
              <div class="detail-name">
                Пол
              </div>
              <div class="detail-description">
                Унисекс
              </div>
            </div>
            <div class="line"></div>
          </div>
        </div>
      </div>
      <!--      СМОТРЕЛИ РАНЕЕ      -->
      <div class="description-container">
        <div class="information-title">
          Смотрели ранее
        </div>
        <div class="extra-product-container">
          <div class="product-card" routerLink="/product">
            <a style="height: 100%; display: flex; width: 100%;" routerLink="product"></a>
            <div class="product" routerLink="product">
              <img class="imageContainer" src="assets/image/dunk.png" alt="Some product">
              <div class="product-text">
                <div class="product-title">Lacoste</div>
                <div class="description">Мужская толстовка с удлиненными рукавами Sport Light</div>
                <div class="price">15 780 ₽</div>
              </div>
            </div>
          </div>
          <div class="product-card" routerLink="/product">
            <a style="height: 100%; display: flex; width: 100%;" routerLink="product"></a>
            <div class="product" routerLink="product">
              <img class="imageContainer" src="assets/image/dunk.png" alt="Some product">
              <div class="product-text">
                <div class="product-title">Lacoste</div>
                <div class="description">Мужская толстовка с удлиненными рукавами Sport Light</div>
                <div class="price">15 780 ₽</div>
              </div>
            </div>
          </div>
          <div class="product-card" routerLink="/product">
            <a style="height: 100%; display: flex; width: 100%;" routerLink="product"></a>
            <div class="product" routerLink="product">
              <img class="imageContainer" src="assets/image/dunk.png" alt="Some product">
              <div class="product-text">
                <div class="product-title">Lacoste</div>
                <div class="description">Мужская толстовка с удлиненными рукавами Sport Light</div>
                <div class="price">15 780 ₽</div>
              </div>
            </div>
          </div>
          <div class="product-card" routerLink="/product">
            <a style="height: 100%; display: flex; width: 100%;" routerLink="product"></a>
            <div class="product" routerLink="product">
              <img class="imageContainer" src="assets/image/dunk.png" alt="Some product">
              <div class="product-text">
                <div class="product-title">Lacoste</div>
                <div class="description">Мужская толстовка с удлиненными рукавами Sport Light</div>
                <div class="price">15 780 ₽</div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
