@mainBackground: #e9e9e9;
@productCardBackground: #EBEBEB;
@shadowColor: #bebebe;
@productCardHover: #d8d8d8;
@secondaryTextColor: #6B6B75;
@primaryTextColor: #3f3f43;
@optionButtonColor: #726E6;

.product-images-price-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 4rem 3rem;
  @media (min-width: 990px) {
    height: 700px;
  }
  @media (max-width: 990px) {
    padding: 2rem 1.5rem;
  }
  @media (max-width: 760px) {
    flex-direction: column;
  }
}

.product-image-container {
  @media (max-width: 990px) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
  }
  @media (min-width: 990px) {
    width: 64%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
}

.primary-image-container {
  width: 63%;
  display: flex;
  @media (max-width: 990px) {
    width: 50%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
  }
  @media (max-width: 760px){
    width: 100%;
  }
}

.main-image-container {
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: 90%;
}

.left-images-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: 10%;
}

.main-image-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  @media (max-width: 990px){
    width: 100%;
  }
}

.left-image-wrapper {
  width: 100%;
  max-height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: start;
}

.left-images-container {
  display: flex;
  width: 15%;
  height: 85%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  @media (max-width: 990px) {
    width: 90%;
    max-height: 90px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  @media (max-width: 760px) {
    display: none;
  }
}

.left-image {
  display: block;
  height: 100%;
  @media (max-width: 990px) {
    height: auto;
    width: 100%;
  }
}

.image-container {
  display: block;
  width: 100%;
}

.price-list-container {
  background-color: @productCardBackground;
  box-shadow: 15px 15px 40px @shadowColor;
  border-radius: 30px;
  padding: 2rem 1rem;
  @media (max-width: 990px) {
    width: 45%;
  }
  @media (min-width: 990px) {
    width: 36%;
    height: 90%;
  }
  @media (max-width: 760px) {
    width: 100%;
    margin-top: 30px;
  }
}

.price-list-title {
  text-align: center;
  color: @primaryTextColor;
  font-weight: bold;
  @media (max-width: 990px){
    font-size: 14px;
  }
}

.price-list-subtitle {
  text-align: center;
  margin-top: 20px;
  color: @secondaryTextColor;
  @media (max-width: 990px){
    margin-top: 15px;
    font-size: 14px;
  }
}

.price-button {
  text-align: center;
  background-color: @productCardHover;
  border-radius: 10px;
  font-size: 12px;
  color: @primaryTextColor;
  padding: 8px 16px;
  @media (max-width: 990px){
    font-size: 11px;
  }
}

.size {
  font-weight: bold;
}

.price {
  margin-top: 5px;
}

.price-container {
  margin-top: 30px;
  display: grid;
  gap: 15px;
  grid-template-columns: 30% 30% 30%;
  @media (max-width: 990px){
    margin-top: 20px;
  }
  @media (max-width: 760px) {
    grid-template-columns: auto auto auto auto;
  }
  @media (max-width: 425px) {
    grid-template-columns: auto auto auto;
  }
}

.active-buttons {
  padding: 12px 6px;
  margin-top: 15px;
}

// DESCRIPTION

.information-container {
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 5rem;
  @media (max-width: 990px){
    padding: 3rem 3rem;
  }
  @media (max-width: 760px){
    padding: 2rem 1.5rem;
  }
}

.product-name {
  font-size: 22px;
  font-weight: 500;
  line-height: 40px;
  color: @primaryTextColor;
  @media (max-width: 990px){
    font-size: 20px;
  }
}

.information-title{
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  color: @primaryTextColor;
  @media (max-width: 990px){
    font-size: 18px;
  }
}

.description-container {
  margin-top: 20px;
  @media (max-width: 760px){
    margin-top: 15px;
  }
}

.information-text {
  width: 70%;
  margin-top: 20px;
  font-size: 14px;
  color: @secondaryTextColor;
  @media (max-width: 990px){
    font-size: 12px;
    width: 80%;
  }
  @media (max-width: 760px){
    width: 100%;
  }
}

.details-container {
  width: 80%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px 40px;
  @media (max-width: 990px){
    width: 100%;
  }
  @media (max-width: 768px){
    grid-template-columns: auto;
  }
}

.line {
  margin-top: 15px;
  text-align: center; /* Выравниваем текст по центру */
  border-top: 2px solid #6f6f6f; /* Параметры линии  */
}

.detail-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  color: @secondaryTextColor;
}

.detail-name {
  font-size: 14px;
  font-weight: bold;
  @media (max-width: 990px){
    font-size: 12px;
  }
}

.detail-description {
  font-size: 14px;
  @media (max-width: 990px){
    font-size: 12px;
  }
}

.extra-product-container {
  padding: 30px 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
  overflow: hidden;
}

//PRODUCT CARD

.product-card {
  width: 100%;
  max-height: 100%;
  max-width: 235px;
  border-radius: 15px;
  padding: 2rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-self: start;
  cursor: pointer;
  background-color: @productCardBackground;
  box-shadow: 0 15px 20px @shadowColor;

  &:hover {
    background-color: @productCardHover;
    border-radius: 15px;
  }
}

.imageContainer {
  display: block;
  width: 100%;
  margin-bottom: 1.8rem;
}

.product-text {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.product-title {
  color: @primaryTextColor;
  margin-bottom: 5%;
}

.product-description {
  color: @secondaryTextColor;
  font-size: 12px;
  margin-bottom: 5%;
}

.product-price {
  font-size: 14px;
}

