<div class="block">
  <div class="container">
    <div class="product-images-price-list">
      <div class="primary-image-container">
        <div class="left-images-container">
          <div class="left-image-wrapper">
            <img class="left-image" src="assets/image/Product.png" alt="Some product">
          </div>
          <div class="left-image-wrapper">
            <img class="left-image" src="assets/image/Product.png" alt="Some product">
          </div>
          <div class="left-image-wrapper">
            <img class="left-image" src="assets/image/Product.png" alt="Some product">
          </div>
          <div class="left-image-wrapper">
            <img class="left-image" src="assets/image/Product.png" alt="Some product">
          </div>
        </div>
        <div class="main-image-wrapper">
          <div class="main-image-container">
            <img class="image-container" src="assets/image/Product.png" alt="Some product">
          </div>
        </div>
      </div>
      <div class="price-list-container">
        <div class="price-list-title">
          Air Jordan 1 Low Retro “Black and White”
        </div>
        <div class="price-list-subtitle">
          Кроссовки Nike
        </div>
        <div class="price-container-wrapper">
          <div class="price-container">
            <div class="price-button">
              <div class="size">5 US
              </div>
              <div class="price">19 230 ₽</div>
            </div>
            <div class="price-button">
              <div class="size">5 US
              </div>
              <div class="price">19 230 ₽</div>
            </div>
            <div class="price-button">
              <div class="size">5 US
              </div>
              <div class="price">19230₽</div>
            </div>
            <div class="price-button">
              <div class="size">5 US
              </div>
              <div class="price">190230₽</div>
            </div>
            <div class="price-button">
              <div class="size">5 US
              </div>
              <div class="price">190230₽</div>
            </div>
            <div class="price-button">
              <div class="size">5 US
              </div>
              <div class="price">190230₽</div>
            </div>
            <div class="price-button">
              <div class="size">51 US
              </div>
              <div class="price">19230₽</div>
            </div>
            <div class="price-button">
              <div class="size">5 US
              </div>
              <div class="price">19230₽</div>
            </div>
            <div class="price-button">
              <div class="size">51 US
              </div>
              <div class="price">19230₽</div>
            </div>
            <div class="price-button">
              <div class="size">5 US
              </div>
              <div class="price">19 230 ₽</div>
            </div>
            <div class="price-button">
              <div class="size">5 US
              </div>
              <div class="price">190 230 ₽</div>
            </div>
          </div>
        </div>
        <div class="price-button active-buttons">
          <div class="size">Добавить в корзину
          </div>
        </div>
        <div class="price-button active-buttons">
          <div class="size">Купить в один клик
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
