<div class="container">
  <div class="topMenuContainer">
    <img class="logo" src="/assets/image/irlLogo.png">
    <div class="linkContainer">
      <div class="menuLink">
        <a [@hoverTrigger]="hoverMenState" routerLink="test">Мужское</a>
        <div
          (mouseenter)="hoverMenState = 'active'"
          (mouseleave)="hoverMenState = 'start'"
          class="secondMenu">
          <div class="container">
            <div class="colum">
              <a href="">Предмет</a>
              <a href="">Еще один</a>
              <a href="">Вот второй</a>
              <a href="">Вот второй</a>
              <a href="">Вот второй</a>
            </div>
          </div>
        </div>
      </div>
      <div class="menuLink">
        <a [@hoverTrigger]="hoverWomenState">Женское</a>
        <div
          (mouseenter)="hoverWomenState = 'active'"
          (mouseleave)="hoverWomenState = 'start'"
          class="secondMenu">
          <div class="container">
            <div class="colum">
              <a href="">Один</a>
              <a href="">Два</a>
              <a href="">Три</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bar">
      Корзина
    </div>
  </div>
</div>
<router-outlet></router-outlet>
