<div class="container">
  <div class="topMenuContainer">
    <div class="logo">Лого</div>
    <div class="linkContainer">
      <div class="menuLink">
        <a routerLink="test">Мужское</a>
        <div class="secondMenu">
          <div class="container">
            <div class="colum">
              <a href="">Предмет</a>
              <a href="">Еще один</a>
              <a href="">Вот второй</a>
              <a href="">Вот второй</a>
              <a href="">Вот второй</a>
            </div>
          </div>
        </div>
      </div>
      <div class="menuLink">
        <a href="">Женское</a>
        <div class="secondMenu">
          <div class="container">
            <div class="colum">
              <a href="">Один</a>
              <a href="">Два</a>
              <a href="">Три</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bar">
      Корзина
    </div>
  </div>
</div>

<router-outlet></router-outlet>
