.container {
  display: block;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  color: #000000; /*меняем цвет ссылок*/ /*меняем шрифт*/
  line-height: 75px; /*ровняем меню по вертикали*/
  display: block;
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}

.topMenuContainer {
  padding: 0 3.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkContainer {
  display: flex;
}

.menuLink > a {
  padding: 0px 35px; /*добавляем отступ*/
}

.menuLink > a:hover {
  background: #eeeeee; /*добавляем эффект при наведении*/
}

.secondMenu {
  height: 400px;
  width: 100%;
  z-index: 30;
  position: fixed;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 15px 20px #e9e9e9;
  display: none;
  column-fill: auto;
}

.linkContainer .menuLink:hover > .secondMenu {
  display: block;
}

.colum > a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 85%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size .2s;
  line-height: 40px;
  width: fit-content;
  font-size: 14px;
}

.colum > a:hover {
  background-size: 100% 2px;
}

.colum {
  padding: 0 3.6rem;
}


